.Card-box1{
float:left;
margin-right: 500px;
width: 200px;
height: 500px;
}

.Card-descr{
    font-size: 12px;
    width:250px;
    height:250px;
}
.Card-image{
    background-image: url('./CardsImages/ChixQuesa.jpg');
    background-repeat: no-repeat;
    width:250px;
    height:250px;
}
